# Node
node_modules/
dist/

# Environment variables
.env
.env.*
!.env.example

# Python
backend/venv/
backend/__pycache__/
backend/**/*.pyc

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
